$proxima: 'proxima_nova_rgbold', Arial, sans-serif;;
$pt_sans: 'PT Sans', Arial, sans-serif;
$main-color: #ebebeb;
$purple_color: #9f9acf;

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../assets/font/proximanova-regular-webfont.woff2') format('woff2'),
         url('../assets/font/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@mixin full_background_img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:focus {
	outline:none;
}
::-moz-focus-inner {
	border:0;
}
.section-title {
	font-family: $proxima;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 25px;
	color: #665f60;
}
body {
	background-color: #ebebeb;
	min-height: 100vh;
	width: 100%;

	nav {
		width: 100%;
		background-color: transparent;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		color: #fff;
		padding: 36px 50px;
		.nav__logo {
			cursor: pointer;
			background-image: url('../assets/img/logo.png');
			@include full_background_img;
			height: 72px;
			width: 54px;
		}
		.menu {
			display: flex;
			align-items: center;
			.menu__item {
				color: #ffffff;
				font-family: $proxima;
				font-size: 24px;
				font-weight: 400;
				text-transform: uppercase;
				cursor: pointer;
				border: 1px solid transparent;
				padding: 7px 10px;
				margin-left: 10px;
			}
			.selected {
				border: 1px solid white;
				border-radius: 17px;
			}
		}	
	}

	#home {
		width: 100%;
		position: relative;
		.home__image {
			background-image: url('../assets/img/first-background.png');
			@include full_background_img;
			height: 1070px;
			width: 100%;
		}	
		.home__text {
			position: absolute;
			width: 100%;
			z-index: 2;
			top: 400px;
			left: 50%;
			transform: translateX(-50%);
			margin: 0 auto;
			.home__title {
				color: #fefefb;
				font-family: $proxima;
				font-size: 72px;
				font-weight: 700;
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 30px;

			}
			.home__description {
				max-width: 700px;
				color: #fefdfd;
				font-family: $pt_sans;
				font-size: 30px;
				font-style: italic;
				margin: 0 auto;
				text-align: center;
			}
		}
		
	}

	#about-section {
		display: flex;
		padding: 124px 150px;
		.about-image {
			background-image: url('../assets/img/background.png');
			@include full_background_img;
			height: 555px;
			width: 380px;
			position: relative;
			&:before {
				text-align: center;
				content: "ABOUT US";
				position: absolute;
				width: 100%;
				left: 50%;
				transform: translateX(-50%);
				color: #fefbfc;
				font-family: $proxima;
				font-size: 36px;
				font-weight: 400;
				text-transform: uppercase;
				top: 170px;
			}
			&:after {
				content: "";
				background-image: url('../assets/img/icon-aboutus.png');
				width: 50px;
				height: 54px;
				position: absolute; 
				top: 75px;
				left: 50%;
				z-index: 210;
				transform: translateX(-50%);
			}
		}
		.about-secription {
			margin-top: 70px;
			max-width: 633px;
			margin-left: 120px;
			text-align: center;
			.about-text {
				color: #665f60;
				font-family:$pt_sans;
				font-size: 20px;
				font-weight: 400;
				margin-bottom: 90px;
				text-align: left;
			}
			.about-cta {
				width: 195px;
				height: 50px;
				color: #7d7a7c;
				font-family: $pt_sans;
				font-size: 20px;
				font-style: italic;
				border: 1px solid #7d7a7c;
				background: transparent;
				cursor: pointer;

			}
		}
	}

	#services {
		display: flex;
		padding: 0 150px;
		width: 100%;
		.item-title {
			color: #665f60;
			font-family: $pt_sans;
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
			margin: 30px 0 20px;
		}
		.item-text {
			max-width: 220px;
			color: #665f60;
			font-family: "PT Sans";
			font-size: 18px;
			font-style: italic;
			text-align: center;
		}
		.item-icon {
			@include full_background_img;
		}
		.item-icon1 {
			background-image: url('../assets/img/icon-graphic.png');
			height: 61px;
			width: 47px;
		}		
		.item-icon2 {
			background-image: url('../assets/img/icon-web.png');
			height: 59px;
			width: 58px;
		}		
		.item-icon3 {
			background-image: url('../assets/img/icon-seo.png');
			height: 61px;
			width: 50px;
		}		
		.item-icon4 {
			background-image: url('../assets/img/icon-mobile.png');
			height: 61px;
			width: 36px;
		}		
		.item-icon5 {
			background-image: url('../assets/img/icon-services.png');
			height: 60px;
			width: 62px;
		}
		.col1-wrapper {
			width: 75%;
			.row {
				display: flex;
				.col-item {
					width: 50%;
					height: 400px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
				.bg-grey {
					background-color: #dbdbdb;
				}
			}
		}
		.col2-wrapper {
			background-image: url('../assets/img/2-layers.png');
			@include full_background_img;
			width: 25%;
			padding: 116px 30px 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			.item-title-aside {
				color: #fefcfd;
				font-family: $proxima;
				font-size: 26px;
				font-weight: 400;
				text-transform: uppercase;
				margin: 32px 0 115px;
			}
			.item-text-aside {
				color: #fefcfd;
				font-family: $pt_sans;
				font-size: 18px;
				font-style: italic;
				text-align: center;
			}
		}
	}

	#works {
			display: flex;
			flex-direction: column;
			padding: 50px 0;
			align-items: center;
			background-image: url('../assets/img/bg.png');
			@include full_background_img;
			height: 1000px;
			margin-bottom: 54px;
			overflow: hidden;
		.works-title {
			color: #fff;
			margin: 36px 0 68px;
		}
		.work__slider {
			margin: 0 auto 60px;
			width: 100%;
			height: 600px;
			text-align: center;
			.slick-dots {
				& li.slick-active button::before {
					color: white;
				}
				& li button::before {
					color: white;
					font-size: 10px;
				}
			}
			.slider__item-wrapper {
				display: flex;
				justify-content: center;
			}
		}
		.work-cta {
			color: #ffffff;
			font-family: $pt_sans;
			font-size: 20px;
			font-style: italic;
			background-color: transparent;
			border: 1px solid white;
			width: 195px;
			height: 50px;
			cursor: pointer;
		}
	}


	#team {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 0 150px;
		.team-title {
			margin-top: 34px;
		}
		.team__slider {
			width: 100%;
			height: 500px;
			text-align: center;
			.slick-dots {
				& li.slick-active button::before {
					color: #19BD9A;
				}
				& li button::before {
					color: #19BD9A;
					font-size: 10px;
				}
			}
			.slider__item-wrapper {
				display: flex;
				justify-content: center;
				margin-top: 150px;
				.slider__item {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					flex-direction: column;
			    width: 33%;
			    background-color: #fff;
			    position: relative;
			    height: 350px;
			    &:nth-child(2) {
			    	margin: 0 30px;
			    }
			    .slider__img {
						@include full_background_img;
						height: 238px;
						width: 240px;
						position: absolute;
						top: -35%;
						left: 50%;
						transform: translateX(-50%);
					}
					.text-wrapper {
						.text__name {
							color: #9f9acf;
							font-family: $proxima;
							font-size: 24px;
							font-weight: 700;
							text-transform: uppercase;
							}
						.text__profession {
							color: #665f60;
							font-family: $pt_sans;
							font-size: 24px;
							font-style: italic;	
							margin: 30px 0 50px;		
						}
					}
					.text__description {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						background-color: #9f9acf;
						height: 70px; 
						img {
							margin: 0 5px;
						}						
					}
				}
				.slider__img1 {
					background-image: url('../assets/img/hat-man.png');
				}
				.slider__img2 {
					background-image: url('../assets/img/girls-red-hair.png');
				}
				.slider__img3 {
					background-image: url('../assets/img/smily-girl.png');
				}
	    }
	  }

	}
	
	#contact {
		margin-top: 80px;
		display: flex;
  	flex-direction: column;
  	align-items: center;
		width: 100%;
		.map-wrapper{
			width: 100%;
			position: relative;
			overflow: hidden;
			#map {
			    width: 100%;
			    height: 900px;
			    color: #000;
			}
			.form-wrapper {
				width: 100%;
				position: absolute;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(138,43,226,0.2);
				pointer-events: none;
					margin: 0 auto;
					display: flex;
					align-items: center;
					flex-direction: column;
					.get-in-touch-img {
						margin-top: 56px;
					}
					.get-in-touch-title {
					color: #ffffff;
				}
				form {
					pointer-events: auto;
					height: 100%;
					width:54%;
					margin: 0 auto;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					flex-direction: column;
					
					.input-wrapper {
						display: flex;
						width: 100%;
						margin-bottom: 10px;
						input:first-child {
							margin-right: 32px;
						}

					}
					input, textarea {
						width: 100%;
						border: none;
						height: 56px;
						padding: 22px 27px;
						background-color: rgba(235,235,235, .7);
						&:focus {
							background-color: rgba(235,235,235, 1);
							border: 1px solid $purple_color;
						}
						&::placeholder {
							color: white;
							font-family: $pt_sans;
							font-size: 18px;
							font-style: italic;
							line-height: 18px;
						}
					}
					textarea {
						height: 200px;
						margin-top: 27px;
					}
					button {
						width: 293px;
						height: 70px;
						background-color: $purple_color;
						color: #ffffff;
						font-family: $proxima;
						font-size: 20px;
						font-weight: 700;
						line-height: 70px;
						text-transform: uppercase;
						letter-spacing: 0.3px;
						box-shadow: 0 8px 5px -5px rgba(0, 0, 0, .7);
						margin: 55px 0;
						pointer-events: auto;
						cursor: pointer;
						border: 2px solid transparent;
						&:hover {
							border: 2px solid #fff;
							box-shadow: none;
						}
					}
				}
				#scroll-up {
					pointer-events: auto;
					cursor: pointer;
					height: 84px;
					width: 84px;
					background-color: $purple_color;
					opacity: 0.5;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					bottom: 46px;
					right: 130px;
					img {
						opacity: 1;
						height: 21;
						width: 36px;
					}
				}
				.touch-item {
					display: flex;
					position: absolute;
					right: -260px;
					pointer-events: auto;
					cursor: pointer;
					transition: transform 0.5s;
					&:hover {
							transform: translateX(-260px); 
					}
					.touch-img {
						height: 90px;
						width: 90px;
						background-color: $purple_color;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					.touch-text {
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						width: 260px;
						color: #665f60;
						font-family: $pt_sans;
						font-size: 18px;
						font-weight: 400;
						background-color: rgba(235,235,235, .7);
					}
				}
				.house-wrapper {
					top: 219px;
				}
				.phone-wrapper {
					top: 310px;
				}
			}
		}
	}

	footer {		
		display: flex;
  	align-items: center;
  	justify-content: space-between;
		width: 100%;
		padding: 0 50px;
		height: 190px;
		background-color: $purple_color;
		.footer__description {
			color: #ffffff;
			font-family: $pt_sans;
			font-size: 18px;
			font-weight: 400;
			letter-spacing: 0.36px;
			display: flex;
		}
		.footer__icons {
			display: flex;
			.footer__social-link {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				overflow: hidden; 
				transition: transform 0.25s;
				cursor: pointer;
				margin-left: 25px;
				background-color: $main-color; 
				&:first-child {
					margin-left: 0;
				}
				&:hover {
					transform: scale(1.1);
				}
				.footer__socail-icon {
					display: inline-block;
					width: 25px;
					height: 22px;
				}
			}
		}
	}
}

