* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:focus {
	outline:none;
}
::-moz-focus-inner {
	border:0;
}
a {
	text-decoration: none;
	color: black;
}
body{
	min-height:100vh;
	width: calc(100vw - (100vw - 100%));
	font-family: 'Open Sans', sans-serif;
}
.category-wrapper {
	position: relative;
}
.hover-effect{
	height:3px;
	position:absolute;
	width:0px;
	display:block;
	top: 100%;
	background:#006DF0;
}
.category-wrapper:hover > .hover-effect{
	z-index: 1;
	width:100%;
	-webkit-transition-timing-function:cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition: width 0.4s;
}
.nav-bar {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 55px;
    padding: 0 10px;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  }
.nav-logo-wrapper {
	display: flex;
	align-items: center;
	margin-left: 15px;
}
.nav-logo-img {
	height: 50px;
}
.nav-logo-title {
	margin-left: 20px;
	font-size: 18px;
	font-weight: 700;
	color: #404040;
}
.nav-search {
	position: relative;
	margin-right: auto;
	margin-left: 20px;
	width: 30%;
}
#nav-search-input {
	width: 100%;
	height: 30px;
	background-color: #fff;
	border: none;
	padding: 0 40px 0 10px;
	border-radius: 5px;
}
#nav-search-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 30px;
	cursor: pointer;
	background-color: #C2C2CB;
	border: none;
	font-size: 12px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-right: 25px;
	color: #fff;
}
.nav-search-icon {
	width: 20px;
	height: 22px;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}
.cart-icon {
	width: 25px;
	height: 25px;
	margin-right: 15px;
	margin-left: 10px;
}
.cart-icon:hover {
	cursor: pointer;
}
.auth-button {
	width: 70px;
	margin-right: 10px;
	background-color: #E8E8E8;
	border-radius: 12px;
	padding: 8px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}
.auth-button a {
	color: #006DF0;
}
.auth-button a:hover {
	color: #6DBAF3;
	cursor: pointer;
}
.nav-item {
	margin-right: 15px;
	font-weight: 600;
	font-size: 17px;
}
.last-item {
	margin-right: 0;
}
.nav-item a {
	color: #006DF0;
}
.nav-item:hover a {
	color: #6DBAF3;
}
#section-about {
	width: 100%;
	background-image: url('assets/img/1696.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 170px 0 200px;
}
.about-wrapper {
	width: 50%;
	text-align: center;
}
.about-title {
	font-family: 'Patrick Hand', cursive;
	font-size: 42px;
	text-transform: uppercase;
	font-weight: 600;
	text-shadow: 1px 1px 1px silver,
               -1px 1px 1px silver;
  	color: white;
  	margin-bottom: 35px;
}
.about-description {
	color: #fff;
	font-family: 'Patrick Hand', cursive;
	font-size: 30px;
	font-weight: 600;
	text-shadow: 1px 1px 1px silver,
               -1px 1px 1px silver;
}

#section-reviews {
	background-image: url('assets/img/199543-OYHBTB-510.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	padding: 70px 0 150px;
	text-align: center;
}
.reviews-title {
	font-family: 'Patrick Hand', cursive;
	color: #006DF0;
	text-transform: uppercase;
	font-size: 30px;
	text-shadow: 1px 1px 1px silver,
       -1px 1px 1px silver;
    margin-bottom: 70px;
}
.reviews-slider {
	width: 900px;
	height: 380px;
	position: relative;
	margin: 0 auto;
}
.slider-container {
	width: 700px;
	height: 380px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
}
.slider-wrapper {
	height: 380px;
	display: flex;
}
.prev,.next{
    transition:all 0s ease;
    cursor:pointer;
    position:absolute;
    top:50%;
    height: 50px;
    width:50px;
    transform:translateY(-50%);
}
.prev{
    left:0;
}
.next {
	right:0;
}
.prev,.next svg {
	fill: #006DF0;
}
.prev:hover,.next:hover svg {
	fill: #71C4FA;
}
.reviews-wrapper {
	min-width: 700px;
	height: 370px;
	display: flex;
	border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
    background-color: #fff;
    padding: 30px;
}
.reviews-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 50%;
}
.reviews-text {
	max-height: 310px;
	overflow: hidden;
	width: 50%;
	font-size: 22px;
	padding-left: 20px;
	padding-top: 10px;
	text-indent: 20px;
	text-align: justify;
}
.reviews-img1 {
	background-image: url('assets/img/37071446-cute-girls-pics.jpg');
}
.reviews-img2 {
	background-image: url('assets/img/haley_anderson-1521012039-2382.jpg');
}
.reviews-img3 {
	background-image: url('assets/img/sweet.jpeg');
}

#section-gallery {
	width: 100%;
	display: flex;
	padding: 70px 0;
}
.item1 {
	background-image: url('assets/img/conjunto-de-iconos-vector-dulces_1441-33.jpg');
}
.item2 {
	background-image: url('assets/img/delicious-candies-round-card_1268-2799.jpg');
}
.item3 {
	background-image: url('assets/img/set-of-vector-icons-of-chocolate-desserts-and-candies-liquid-chocolate-and-cocoa-beans_1441-83.jpg');
}
.gallery-item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
	width: 33.3%;
}
footer {
	text-align: center;
	background-color: #C2C2CB;
	width:100%;
	padding: 15px 0;
	margin-top: 10px;
}
footer .icons-item {
	height: 25px;
	width: 25px;
	margin-left: 2.5px;
	margin-right: 2.5px;
}
footer .icons-item:hover {
	cursor: pointer;
}
footer span {
	margin-top: 10px;
	display: inline-block;
	font-size: 12px;
}
.active {
	color: red;
	background-color: transparent;
}
.overlay {
	display: none;
	z-index: 999998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
}
#popup {
	display: none;
	height: 600px;
	width: 600px;
	z-index: 999999;
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

