* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

a {
  text-decoration: none;
}

a:hover, a:visited {
  text-decoration: none;
  cursor: pointer;
}

body {
  min-height: 100vh;
  width: 100%;
  color: #fff;
}

body .about__slider {
  width: 100%;
}

body .about__slider .about__image {
  height: 500px;
}

body .about__slider .about__img1 {
  background: red;
}

body .about__slider .about__img2 {
  background: green;
}

body .about__slider .about__img3 {
  background: blue;
}
