.category-wrapper {
	position: relative;
}
.hover-effect{
	height:3px;
	position:absolute;
	width:0px;
	display:block;
	top: 100%;
	background:#006DF0;
}
.category-wrapper:hover > .hover-effect{
	z-index: 1;
	width:100%;
	-webkit-transition-timing-function:cubic-bezier(0.680, -0.550, 0.265, 1.550);
	transition: width 0.4s;
}
.main-container {
	display: flex;
}
.filters-box {
	position: fixed;
	left: 0;
	top: 55px;
	width: 280px;
	padding: 10px 0 10px 10px;
}
.category {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 18px;
	transition: 0.4s;
	font-family: 'Patrick Hand', cursive;
	
}
.active, .category:hover {
	background-color: #ccc;
	color: #8c40b8;
}
.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
#product-cards-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: baseline;
	margin-left: 280px;
}
.product-card {
	margin: 10px 5px 0 5px;
	font-weight: 400;
	font-size: 16px;
	flex-grow: 1;
	border: 1px solid #C3B9C9;
	width: calc(25% - 10px - 1px);
}
.product-card:hover {
	cursor: pointer;
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 3px #999;
	-webkit-box-shadow: 1px 1px 3px #999;
	box-shadow: 1px 1px 3px #999;
}
.product-img-wrapper {
	margin: 15px;
	height: 200px;
	position: relative;
	display: flex;
	justify-content: center;
}
.product-img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
.product-description {
	margin: 15px;
}
.product-price {
	padding-bottom: 15px;
	font-size: 21px;
	font-weight: 600;
	line-height: 16px;
}
.product-name {
	height: 60px;
	font-size: 14px;
	overflow: hidden;
}
.button-cta-wrapper {
	display: flex;
	justify-content: center;
}
.button-cta {
	width: 70px;
	background-color: #E8E8E8;
	border-radius: 12px;
	padding: 8px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	margin-top: 15px;
}
.button-cta a {
	color: #006DF0;
}
.button-cta a:hover {
	color: #8c40b8;
}
@media (max-width: 1499px) {
	.product-card {
		width: calc(25% - 10px - 1px);
	}
}
@media (min-width: 900px) and (max-width: 1199px) {
	.product-card {
		width: calc(33% - 10px - 1px);
	}
}
@media (max-width: 900px) {
	.product-card {
		width: calc(50% - 10px - 1px);
	}
	.nav-logo-title {
		font-size: 14px;
		white-space: nowrap;
	}
}
@media (max-width: 650px) {
	.nav-bar {
		justify-content: space-between;
	}
	.product-card {
		width: calc(100% - 10px - 1px);
		min-width: 150px;
	}
	.product-container {
		overflow-y: scroll;
	}

}
.cart-container {
	position: relative;
	height: 55px;
	width: 35px;
	margin-right: 10px;
	margin-left: 10px;
}
.cart-icon {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	left: -60%;
	transform: translate(50%, -50%);
}
.cart-icon:hover {
	cursor: pointer;
}
.cart {
	display: none;
	background: #fff;
	position: absolute;
	left: -250px;
	top: 55px;
	width: 450px;
	height: 250px;
	padding: 15px;
	padding-left: 25px;
}
.close-cart {
	position: absolute;
	right: 15px;
	top: 5px;
	color: red;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
}
.cart-popup {
	display: block;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);
	border-radius: 5px;
}

