*{
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #252525;
	max-width: 100vw;
	overflow-x: hidden;
}
h1, h2, h3, h4, p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: black;
}
.container {
	display: flex;
}
.navigation {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
nav .nav-item {
    overflow: hidden;
    padding: 0;
    height: 1.2em;
    position: relative;
    margin: 15px 0;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
	cursor: pointer;
	width: 100%;
	text-align: center;
}
.cl-effect-2 .nav-item .nav-span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	width: 100%;
}
.cl-effect-2 .nav-item .nav-span:before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.cl-effect-2 .nav-item:hover .nav-span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
.span3 {
	background-image: url('../img/262024-P4LQDP-172.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 25%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.span3:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(10,60,150, 0.5);
	z-index: -1; 
}
.avatar {
	background-image: url('../img/12745947_10205804305608710_7735813904788949974_n_601x10682.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	z-index:10;
	margin-top: 60px;
	margin-bottom: 35px;
	border: 2px solid white;
}
.layer {
	background-image: url('../img/imageedit_24_2668129123.png');
	background-size: 100% 150px;
	background-repeat: no-repeat;
	background-position: top;
	position: absolute;
	width: 100%;
	height: 150px;
	top: 0;
	left: 0;
}
.arrow-left {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
}
[data-id] {
	display: none;
}
[data-id="cv-item"] {
	display: inline-block;
}
.span7 {
	padding: 0 4% 4% 29%;
	position: relative;
	width: 100%;
	min-height: 100vh;
	box-shadow: inset 0 20px 50px -20px rgba(0,0,0,.06);
	display: none;
}
.span7.home-cv {
    width: calc(100% - 17px);
}
.span7.home-cv {
	display: block;
}
.about-title {
	font-size: 32px;
	color: rgba(10,60,150, 0.8);
	color: black;
	margin-bottom: 25px;
	margin-top: 30px;
}
.about-description {
	font-size: 18px;
	line-height: 1.3;
	position: relative;
	margin-bottom: 25px;
}
.skills-menu {
	list-style: none;
	padding-left: 20px;
}
.skills-menu li {
	font-size: 18px;
	position: relative;
	padding-left: 20px;
	margin-bottom: 7px;
}
.skills-menu li:before {
	content: "";
	background-image: url('../img/checkmark.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 13px;
	height: 13px;
}
.about-subtitle {
	font-family: "Lato", sans-serif;
	font-size: 28px;
	position: relative;
	margin-bottom: 15px;
	margin-top: 15px;
}
.about-subtitle:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: -10px;
	width: 5px;
	height: 30px;
	background-color: #5f7ff4;
}
.subtitle-description {
	font-size: 18px;
	opacity: 0.8;
	margin-bottom: 15px;
}
.subtitle-text {
	font-size: 16px;
	font-style: italic;
}
.subtitle-date {
	font-size: 16px;
	opacity: 0.6;
	line-height: 1.2;
	margin-bottom: 15px;
}
.subtitle-location {
	font-size: 16px;
	line-height: 1;
}
hr {
   margin-top: 20px;
   margin-bottom: 20px;
   border: 0;
   border-top: 1px solid #eee;
}

/*Portfolio Section*/
.home-portfolio {
    padding-top: 25px;
}
.webdesign-box {
    display: flex;
    margin-top: 30px;
}
.webdesign-description {
    margin-left: 15px;
    font-style: italic;
    font-size: 18px;
}
.webdesign {
	width: 19%;
	height: 19%;
	display: inline-block;
}
.webdesign.market {
    width: 30%;
    height: 30%;
}
.webdesign img {
	width: 100%;
	height: 100%;
}
.beetroot {
    font-size: 22px;
    margin-left: 10px;
}
.portfolio-list {
    padding-left: 0;
    margin-top: 30px;
}


/*Contact /section*/

.home-contact {
	padding-top: 50px;
}
.contact-wrapper {
	margin-bottom: 15px;
}
.span-title {
	font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    line-height: 1.66;
	float: left;
    display: block;
}
.span-title+span {
	font-size: 16px;
	display: block;
	line-height: 1.66;
    padding-left: 100px;
    opacity: 0.8;
}
.span-icons {
	line-height: 1.66;
}
.span-icons+a {
	text-decoration: none;
}
.social-icon {
	width: 23px;
	height: 23px;
	display: inline-block;
	margin-right: 10px;
}
.bottom-position {
    position: absolute;
    bottom: 40px;
}
